BacklundTransformAnalytics/obj/Debug/net5.0/BacklundTransformAnalytics.csprojAssemblyReference.cache

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
BacklundTransformAnalytics/obj/Debug/net5.0/ref/BacklundTransformAnalytics.dll
BacklundTransformAnalytics/obj/Debug/net5.0/RazorDeclaration/Pages/Index.razor.g.cs
BacklundTransformAnalytics/bin/Debug/net5.0/BacklundTransformAnalytics.dll
BacklundTransformAnalytics/bin/Debug/net5.0/BacklundTransformAnalytics.pdb
BacklundTransformAnalytics/bin/Debug/net5.0/BacklundTransformAnalytics.Views.dll
BacklundTransformAnalytics/bin/Debug/net5.0/BacklundTransformAnalytics.Views.pdb
BacklundTransformAnalytics/bin/Debug/net5.0/ref/BacklundTransformAnalytics.dll
BacklundTransformAnalytics/obj/Debug/net5.0/BacklundTransformAnalytics.csprojAssemblyReference.cache
BacklundTransformAnalytics/obj/Debug/net5.0/BacklundTransformAnalytics.dll
BacklundTransformAnalytics/obj/Debug/net5.0/BacklundTransformAnalytics.pdb
BacklundTransformAnalytics/obj/Debug/net5.0/BacklundTransformAnalytics.Views.dll
BacklundTransformAnalytics/obj/Debug/net5.0/BacklundTransformAnalytics.Views.pdb
BacklundTransformAnalytics/obj/Debug/net5.0/Razor/Pages/_Host.cshtml.g.cs
BacklundTransformAnalytics/obj/Debug/net5.0/Razor/Pages/Counter.razor.g.cs
BacklundTransformAnalytics/obj/Debug/net5.0/Razor/Pages/Index.razor.g.cs
BacklundTransformAnalytics/obj/Debug/net5.0/Razor/Shared/MainLayout.razor.g.cs
BacklundTransformAnalytics/obj/Debug/net5.0/RazorDeclaration/BacklundTransformAnalytics.dll
BacklundTransformAnalytics/obj/Debug/net5.0/RazorDeclaration/BacklundTransformAnalytics.pdb
BacklundTransformAnalytics/obj/Debug/net5.0/RazorDeclaration/Pages/Counter.razor.g.cs
BacklundTransformAnalytics/obj/Debug/net5.0/RazorDeclaration/Pages/Index.razor.g.cs
